<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>ThreadLink</display-name>

  
  <!-- Database credentials -->

  <context-param>
    <param-name>DB_NAME</param-name>
    <param-value>ThreadLink</param-value>
  </context-param>

  <context-param>
    <param-name>DB_CUSTOMER_USER</param-name>
    <param-value>customer_app</param-value>
  </context-param>
  <context-param>
    <param-name>DB_CUSTOMER_PASSWORD</param-name>
    <param-value>customer_password</param-value>
  </context-param>

  <context-param>
    <param-name>DB_SALES_USER</param-name>
    <param-value>sales_app</param-value>
  </context-param>
  <context-param>
    <param-name>DB_SALES_PASSWORD</param-name>
    <param-value>sales_password</param-value>
  </context-param>

  <context-param>
    <param-name>DB_MANAGER_USER</param-name>
    <param-value>manager_app</param-value>
  </context-param>
  <context-param>
    <param-name>DB_MANAGER_PASSWORD</param-name>
    <param-value>manager_password</param-value>
  </context-param>


  <!-- Auth filter -->

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.threadlink.auth.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <!-- Servlets -->

  <servlet>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>com.threadlink.servlet.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>com.threadlink.servlet.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/employee/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.threadlink.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

</web-app>
